@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?67087677");
  src: url("../fonts/fontello.eot?67087677#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?67087677") format("woff2"), url("../fonts/fontello.woff?67087677") format("woff"), url("../fonts/fontello.ttf?67087677") format("truetype"), url("../fonts/fontello.svg?67087677#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%; }

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace; }

a {
  text-decoration: none; }

b,
strong {
  font-weight: bold; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.header {
  position: relative;
  background: #000; }
  .header .header-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 15px 30px;
    z-index: 5; }
    .header .header-top a {
      color: #fff; }
    .header .header-top .logo {
      float: left; }
      .header .header-top .logo a {
        display: block;
        height: 60px; }
        .header .header-top .logo a img {
          width: auto;
          height: 100%; }
    .header .header-top .menu-icon {
      float: right;
      display: block;
      position: relative;
      width: 50px;
      height: 50px; }
      .header .header-top .menu-icon i {
        display: block;
        height: 3px;
        left: 5px;
        right: 5px;
        background: #ffffff;
        position: absolute; }
        .header .header-top .menu-icon i:first-child {
          top: 10px; }
        .header .header-top .menu-icon i:last-child {
          top: 40px; }
        .header .header-top .menu-icon i:nth-child(2) {
          top: 25px; }
  .header .header-text {
    background: url("../img/header-background.jpg") no-repeat 50% 50%/cover;
    color: #fff;
    height: 100vh; }
    .header .header-text h2 {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      text-align: center;
      transform: translateY(-50%);
      font-size: 50px;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
    .header .header-text .anchor {
      position: absolute;
      bottom: 50px;
      left: 50%;
      width: 50px;
      height: 50px;
      border: 1px solid #fff;
      border-radius: 50%;
      text-indent: -9999px;
      transition: all .3s ease; }
      .header .header-text .anchor:before {
        content: '\E800';
        display: block;
        font-size: 20px;
        color: #ffffff;
        text-indent: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'fontello'; }
      .header .header-text .anchor:hover, .header .header-text .anchor:focus {
        transform: scale(1.5); }
  .header .collapse {
    max-height: 0;
    overflow: hidden; }
  .header .main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
    .header .main-menu ul li {
      display: inline-block;
      margin: 0 30px; }
      .header .main-menu ul li a {
        color: #fff; }
  .header .lang {
    float: right;
    margin-top: 10px; }
    .header .lang a {
      display: inline-block;
      margin: 0 5px; }
  .header .h-contacts {
    text-align: center;
    margin-top: 10px; }
    .header .h-contacts a {
      display: inline-block;
      margin: 0 30px;
      position: relative; }

/*# sourceMappingURL=style.css.map */
