.header-top { padding-top: 0; }
.top-menu {
  text-align: center;
  margin-bottom: 20px;
  label {
    background: #333;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 15px;
    cursor: pointer;
  }
  input { display: none; }
  .main-menu-2 {
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px;
    height: 200px;
    background: #000;
    transform: translateY(-250px);
    transition: all .3s ease;
    z-index: 10;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin-right: 10px;
        a {
          color: #fff;
        }
      }
    }
  }
}
input:checked + .main-menu-2 {
  transform: translateY(0);
}