.header-top {
  padding-top: 0; }

.top-menu {
  text-align: center;
  margin-bottom: 20px; }
  .top-menu label {
    background: #333;
    color: #fff;
    text-transform: uppercase;
    display: block;
    padding: 15px;
    cursor: pointer; }
  .top-menu input {
    display: none; }
  .top-menu .main-menu-2 {
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px;
    height: 200px;
    background: #000;
    -webkit-transform: translateY(-250px);
        -ms-transform: translateY(-250px);
            transform: translateY(-250px);
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    z-index: 10; }
    .top-menu .main-menu-2 ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .top-menu .main-menu-2 ul li {
        display: inline-block;
        margin-right: 10px; }
        .top-menu .main-menu-2 ul li a {
          color: #fff; }

input:checked + .main-menu-2 {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

/*# sourceMappingURL=style2.css.map */